<!DOCTYPE html>
<html lang="en">
{% load static%}
{% load crispy_forms_tags %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body class="bg-info">
<div class="container">
  <form class="" method="POST">
    <div class="text-center">
        <a href="{% url 'index'%}"><img class="align-self-center mr-3" src="{%static 'img/logo-dark.png'%}" alt="" height="100"></a>
        <h2 class="text-white">Medicare</h2>
      </div>{% csrf_token %}
                <div class="form-group text-white">
                  {{ form1|crispy }}
                  {{ form2|crispy }}
                </div>
              <div class="form-group checkbox">
                  <label>
                      <input type="checkbox"> I have read and agree the Terms & Conditions
                  </label>
              </div>
              <div class="form-group text-center">
                  <button class="btn btn-success btn-lg" type="submit">Signup</button>
              </div>
              <div class="text-center login-link">
              <h2>Already have an account? <a href="{% url 'login'%}" class="text-light">Login</a></h2>
              </div>
            </div>
          </form>

</div>

</body>
</html>
