{% extends 'base.html'%}
{% block b1%}
{% load static %}
<div class="container-fluid bg-info mt-5 border border-light rounded">
                <div class="row">
                    <div class="col-sm-4 col-3 mt-2 mb-3">
                        <h1 class="page-title text-white mt-2 mb-3 ml-2">Appointment - {{appointment.id}}</h1>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-12">
                <ul class="list-group">
                <li class="list-group-item list-group-item-action list-group-item-light"><h2>Patient : {{appointment.patient}}</h2></li>
                <li class="list-group-item list-group-item-action list-group-item-light"> <h2>Doctor : {{appointment.doctor}}</h2></li>
                <li class="list-group-item list-group-item-action list-group-item-light"> <h2>Date : {{appointment.date}}</h2></li>
                <li class="list-group-item list-group-item-action list-group-item-light"><h2>Slot : {{appointment.slot.start_time}} : {{appointment.slot.end_time}}</h2></li>
                <li class="list-group-item list-group-item-action list-group-item-light"><h2>Description :
                    <div class="container border border-dark rounded mt-3 mb-3">
                      {{appointment.description}}
                    </div>
                  </h2></li>
                </ul>

                <div class="row">
                  {% if is_rec %}
                  <div class="col-sm-4 col-4 float-center mb-3 mt-3">
                      <a href="{% url 'app:appointmentupdate' pk=appointment.id%}" class="btn btn btn-lg btn-warning btn-rounded float-right mr-5"> Update</a>
                  </div>
                  <div class="col-sm-2 col-2 float-center mb-3 mt-3">
                      <a href="{% url 'app:request'%}" class="btn btn btn-success btn-lg btn-rounded float-center mr-0"> Completed</a>
                  </div>
                  <div class="col-sm-4 col-4 float-left mb-3 mt-3">
                      <a href="{% url 'app:appointmentdelete' pk=appointment.id%}" class="btn btn btn-lg btn-danger btn-rounded float-left ml-4"> Cancel</a>
                  </div>
                  {% else %}
                  <div class="col-sm-4 col-4 float-center mb-3 mt-3">
                      <a href="{% url 'app:appointmentupdate' pk=appointment.id%}" class="btn btn btn-warning btn-rounded btn-lg float-right mr-3"> Update</a>
                  </div>
                  <div class="col-sm-8 col-8 float-center mb-3 mt-3">
                      <a href="{% url 'app:appointmentdelete' pk=appointment.id%}" class="btn btn btn-danger btn-rounded btn-lg float-center"> Cancel</a>
                  </div>
                  {% endif %}
                </div>

            </div>
            </div>
            </div>
{% endblock %}
